/*  Bryce Kellas
    bioSite Project
    2/10/2023

    Default Stylesheet for bioSite Project
 */

body{
    margin: 0;
    background-color: #69BE28;
    font-family: "Hind Madurai",Verdana,sans-serif;
    padding-bottom: 2.5em;
} 
header {
    background-color: #002244;
    color: white;
    margin: 0;
    line-height: 55px;
    height: 55px;
    width: 100%;
}
h1, h2 {
    font-weight: 600;
    color: white;
}
.landing-header {
    width: 85%;
    margin: 0 auto;
}
.landing-header h1 {
    margin: 0;
    width: auto;
    text-align: center;
    line-height: inherit;
}
.site-header {
    width: 85%;
    margin: 0 auto;
}
.site-header h1 {
    margin: 0;
    float: left;
    width: auto;
    text-align: center;
    line-height: inherit;
}

.page-header {
    border: 0;
    border-top: 7px;
    border-bottom: 7px;
    border-radius: 90px;
    border-style: solid;
    border-color: #002244;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    background-color: #69BE28;
    margin: 20px auto;
    width: 420px;
    height: 45px;
    line-height: 50%;
    text-align: center;
    top: 20px;
}
.page-header h2 {
    text-align: center;
}

p {
    color: white;
}

nav {
    line-height: inherit;
    width: 220px;
    float: right;
    text-align: center;
}
nav a {
    font-weight: 500;
    text-decoration-line: none;
    display:inline-block;
    width: 70px;
    color: white;
}
nav a:hover {
    background-color: #001931;
}
.navbar-landing {
    color: white;
    text-align: center;
    margin: 16px 0;
    width: auto;
    line-height: 2em;
    background-color: #939160;
}
.navbar-landing a {
    text-decoration-line: none;
    color: white;
}
.image-landing {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    width: 400px;
}
.image-landing figure { 
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}
.image-landing figure img {
    width: 294px;
    height: 184px; 
    object-fit: cover;
    object-position: center;
}

#container {
    background-color: #A5ACAF;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 1px; /* Fix Margin Collapse with .page-header */
    width: 960px;
}

#left, #middle, #right {
    float: left;
    width: 33%;
}
.card {
    margin-left: 16px;
    margin-right: 16px;
    width: auto;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 0;
    text-align: left;
    background-color: #212930;
}
.card-landing {
    margin-left: auto;
    margin-right: auto;
    width: 294px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 16px 16px;
    text-align: left;
    background-color: #212930;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-landing:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card figure {
    width: 284;
    height: 300px;
    margin: 0;
    padding: 0;
}
.card-body {
    height: 150px;
    padding: 8px
}
.card-body p {
    margin: 0;
}

img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.bio-figure {
    float: left;
    margin: 0px;
} 
.bio-card-body {
    float: right;
    height: 400px;
    width: 67%;   
}
.bio-card-body article{
    width: 95%;  
    margin: auto; 
}
.bio-figure img {
    height: 400px;
    width: 300px;
    object-fit: contain;
}
.bio-card {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 0;
    text-align: left;
    background-color: #212930;
}

footer {
    margin-top: auto;
    background-color: #002244;
    color: white;
    clear: both;
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    padding: 30px 0;
}
footer p {
    margin: 0;
    width: 100%;
    height: auto;
    text-align: center;
}